footer{
    margin: 10% 0% 0% 0%;
    padding: 15px 0px 15px 0px;
    background-color: #2f2f2f;
    color: #ffffff;
    position: static; 
}

.carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}

h1.gallery{
    font-family: sans-serif;
    margin: 5% 0% 5% 0%;
    font-size: 42px;
    }

h4.gallery{
    text-align: center;
    color: black;
    font-family: sans-serif;
}
p.gallery{
    text-align: center;
    color: black;
    font-family: sans-serif;
}
div.col-xs-3{
    background-color: #2f2f2f;
    color: whitesmoke;
}
div.bg{
    background-color: white;
    padding: 3%;
    margin: 1% 0%;
    border-style: solid
}

h1.bio{
    text-align: center;
    
}

div.pubtext{
    width: 80%;
    float: left;
    margin: 0% 10% 2% 10%;
    border-top: solid 2px #4699fa;
    border-bottom: solid 2px #4699fa;
}

h4.pubtext{
    text-align: left;
    padding: 10px;
}

li.bio{
    text-align: left;
}

p.bio{
    text-align: left
}

a.logos{
    padding:10px;
}

img.img-circle{
    margin: 0% 5%; 
}
