footer{
    margin: 10% 0% 0% 0%;
    padding: 15px 0px 15px 0px;
    background-color: #2f2f2f;
    color: #ffffff;
}

.carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
